@import './libraries/reset.scss';
@import './libraries/flexboxgrid.scss';

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
  font-family: 'Nova Square', cursive;
  background-color: #6CABB7;
  color: #1b424c;
}